<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<!--ctrl+shift+del 删除浏览器缓存-->
<div id="app">
    <div v-if="books.length">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in books">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.date}}</td>
                <!--            <td>{{item.price|过滤器}}</td>-->
                <td>{{item.price | showPrice}}</td>
                <td>
                    <button @click="increament(index)">+</button>
                    {{item.count}}
                    <button @click="decreament(index)" v-bind:disabled="item.count<=1">-</button>
                </td>
                <td>
                    <button @click="removeBtnClick(index)">移除</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h2>总价格：{{totalPrice | showPrice}}</h2>
    </div>
    <h2 v-else>购物车为空</h2>
</div>

<!--导入的js文件，须放在html的尾部-->
<script src="../js/vue.js"></script>
<!--main.js项目的主要入口-->
<script src="main.js"></script>
</body>
</html>