<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    {{message}}
    <!--在遍历的过程中，没有使用索引值（下标值）-->
    <ul>
        <li v-for=" n in names">{{n}}</li>
    </ul>
    <!--在遍历过程中，使用索引值-->
    <ul>
        <li v-for="(item,index) in names">{{index}}+{{item}}</li>
    </ul>

</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue(
        {
            el: "#app",
            data: {
                message: "你好啊，栖霞课！",
                names: ['when', 'how', 'what', 'uzi']
            }
        }
    )
</script>
</body>
</html>