<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    {{message}}
    <!--在遍历对象的过程中，如果只是获取一个值，那么获取到的时value-->
    <ul>
        <li v-for="item in info">{{item}}</li>
    </ul>
    <!--获取key,value,(value,key)-->
    <ul>
        <li v-for="(value,key) in info">{{value}}+{{key}}</li>
    </ul>
    <!--获取key,value,index-->
    <ul>
        <li v-for="(value,key,index) in info">{{value}}+{{key}}+{{index}}</li>
    </ul>
</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue(
        {
            el: "#app",
            data: {
                message: "你好啊，栖霞课！",
                info:{
                    name:'whr',
                    age:18,
                    height:1.33
                }
            }
        }
    )
</script>
</body>
</html>