<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--使用label标签的话，点击文字也会被绑定了。-->
<div id="app">
    <!--    checkbox单选框-->
    <label for="lisence">
        <input type="checkbox" id="lisence" v-model="isAgree">同意协议
    </label>
    <h2>您选择的是：{{isAgree}}</h2>
    <button :disabled="!isAgree">下一步</button>
    <br>
    <hr>
    <!--    checkbox多选框-->

    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    <h2>你的爱好是：{{hobbies}}</h2>

    <!--值绑定-->
    <!--
    实际开发中，这些input的值可能是从网络获取或定义在data中，
    所以我们可以通过v-bind:value动态的给value绑定值
    -->
    <label v-for="item in originHobbies" :for="item">
        <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
    </label>

</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue(
        {
            el: "#app",
            data: {
                message: "你好啊，栖霞课！",
                isAgree: false,
                hobbies: [],
                originHobbies: ['篮球', '足球', '乒乓球', '高尔夫', '棒球']
            }
        }
    )
</script>
</body>
</html>