<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!-- 选择一个-->
    <select name="abc" id="" v-model="fruit">
        <option value="苹果">苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="桔子">桔子</option>
        <option value="甘蔗">甘蔗</option>
    </select>
    <h2>你的水果是：{{fruit}}</h2>

    <!--加mutiple的时候，不是点选，而是拉选-->
    <!-- 选择多个-->
    <select name="abc" v-model="fruits" multiple>
        <option value="苹果">苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="桔子">桔子</option>
        <option value="甘蔗">甘蔗</option>
    </select>
    <h2>你的水果是：{{fruits}}</h2>
</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue(
        {
            el: "#app",
            data: {
                message: "你好啊，栖霞课！",
                fruit:'甘蔗',
                fruits:[]
            }
        }
    )
</script>
</body>
</html>