<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--    3-->
    <cpn :number1="num1"
         :number2="num2"
         @num1change="num1fatherchange"
         @num2change="num2fatherchange"></cpn>
</div>

<!--2-->
<template id="cpn">
    <div>
        <!--        4-->
        <h2>props:{{number1}}</h2>
        <h2>data:{{dnumber1}}</h2>
        <!--        <input type="text" v-model="dnumber1">-->
        <input type="text"v-model="dnumber1">

        <h2>props:{{number2}}</h2>
        <h2>data:{{dnumber2}}</h2>
        <!--        <input type="text" v-model="dnumber2">-->
        <input type="text" v-model="dnumber2">
    </div>
</template>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue(
        {
            el: "#app",
            data: {
                num1: 1,
                num2: 0
            },
            methods: {
                num1fatherchange(value) {
                   this.num1=parseFloat(value)
                },
                num2fatherchange(value) {
                    this.num2=parseFloat(value)
                }
            },
            components: {
                // 1
                cpn: {
                    template: '#cpn',
                    props: {
                        number1: Number,
                        number2: Number
                    },
                    data() {
                        return {
                            dnumber1: this.number1,
                            dnumber2: this.number2
                        }
                    },
                    watch:{
                        dnumber1(newValue){
                            this.dnumber2=newValue*100;
                            this.$emit('num1change', newValue);
                        },
                        dnumber2(newValue){
                            this.dnumber1=newValue/100;
                            this.$emit('num2change', newValue);
                        }
                    }
                }
            }
        }
    )
</script>
</body>
</html>